{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Search
{% endblock title %}

{% block content %}



    <h1>Поиск публикаций</h1>
    <hr>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>
    <hr>
    {% if posts %}

        {% for post in posts %}
        <table border = 0 width = 100%>
            <tr>
                <td align="left">
                    <b>{{ post.dt_of_publication|date:'d.m.Y' }}</b>
                    <a href="/news/{{post.pk}}">{{ post.title|truncatechars:50|censor }}</a>
                    <br>
                    {% for cat in post.category.all %}
                    категория: <b>{{ cat }}</b>
                    {% endfor %}
                    <br>
                    {{ post.text|truncatechars:200|censor }}

                </td>
            </tr>
        </table>
        <hr>
        {% endfor %}

    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}


    {# Добавляем пагинацию #}

    {# Информация о предыдущий страницах #}
    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}